<section class="container">
	<div class="text-center">
		<h1>{{ minutos }}:{{ segundos | number: '2.0' }}</h1>	
	<button class="btn btn-danger" (click)="togglePause()">{{ buttonLabel }}</button>
	<countdown 
		[seconds]="60" 
		(complete)="onCountdownCompleted()"
		#counter>	
	</countdown>
	<p>
		<button type="button" class="btn btn-default" (click)="counter.seconds=60">Restablecer contador a 60 segundos</button>
	</p>
	<p *ngIf="counter.seconds < 10" class="alert-danger">
		¡Ten cuidado solo quedan!
		<strong>{{ counter.seconds }} segundos</strong>
	</p>	
	</div>
</section>